{% if posts.pagination.pages is not empty %}
    <section class="pager">
        <div class="container">

            <nav class="pagination-block">
                <ul class="pagination flex items-center justify-center gap-2">

                    {# First #}
                    {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                        <li class="first">
                            <a href="{{ posts.pagination.pages|first.link }}">
                                <span class="sr-only">First</span>
                                <i class="far fa-chevrons-left" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="first disabled">
                            <button disabled>
                                <span class="sr-only">First</span>
                                <i class="far fa-chevrons-left" aria-hidden="true"></i>
                            </button>
                        </li>
                    {% endif %}

                    {# Previous #}
                    {% if posts.pagination.prev %}
                        <li class="prev">
                            <a href="{{ posts.pagination.prev.link }}">
                                <span class="sr-only">Previous</span>
                                <i class="far fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="prev disabled">
                            <button disabled>
                                <span class="sr-only">Previous</span>
                                <i class="far fa-chevron-left" aria-hidden="true"></i>
                            </button>
                        </li>
                    {% endif %}

                    {# Pages #}
                    {% for page in posts.pagination.pages %}
                        {% if page.link %}
                            <li>
                                <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                            </li>
                        {% else %}
                            <li class="current">
                                <span class="{{ page.class }}">{{ page.title }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {# Next #}
                    {% if posts.pagination.next %}
                        <li class="next">
                            <a href="{{ posts.pagination.next.link }}">
                                <span class="sr-only">Next</span>
                                <i class="far fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <button disabled>
                                <span class="sr-only">Next</span>
                                <i class="far fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </li>
                    {% endif %}

                    {# Last #}
                    {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                        <li class="last">
                            <a href="{{ posts.pagination.pages|last.link }}">
                                <span class="sr-only">Last</span>
                                <i class="far fa-chevrons-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="last disabled">
                            <button disabled>
                                <span class="sr-only">Last</span>
                                <i class="far fa-chevrons-right" aria-hidden="true"></i>
                            </button>
                        </li>
                    {% endif %}

                </ul>
            </nav>

        </div>
    </section>
{% endif %}
